body {
    background-color: rgb(49, 49, 49);
    color: #fff9a9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
    width: 100%;
}

th {
    text-align: left;
    font-size: 18pt;
}

/* ID Selector Look for the element with an id of "whyBees" */
#whyBees {
    color: brown;
}

/* Class selector is a generic class that can be applied */
.highlighted {
    background-color: black;
    color: yellow;
    font-weight: bold;
}