* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  border-width: 1px;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}
aside{
  position: absolute;
  border: #00ADEE;
  height: 100%; /*not sure*/
  border-left-width: 200px;
  margin: 0 1rem 1rem 0; /*N E S W */
  
}
aside > img {
  width: 120px;
  margin: 0 1rem 1rem 0; /*N E S W */ /*not sure*/
}
main {
  display: inline-block;

  
}
