* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  border-width: 1px;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
  border: 1px;
  border-color: rgba(0, 173, 238, 0.4);
}

ul {
  margin: 0;
  padding: 0;
}
aside{
  position: absolute;
  border-right: 1px solid rgba(0, 173, 238, 0.4);
  height: 100%; /*not sure*/
  width: 200px;
  margin: 0rem 10rem 10rem 0rem;
}
aside > img {
  width: 120px;
  height: 120px;
  margin: 0 0 0 2.4rem;;
  
}
main {
  display: block;
  margin-left: 220px;
  margin-right: 5px;
  

}
aside > nav > ul > li{
  text-align: center;
  text-transform: capitalize ;
  border-bottom: 1px solid rgba(0, 173, 238, 0.4);
  list-style:none;
  margin-bottom: 10px;
  padding-block: 5px;
  
}
aside > nav > ul > li > a{
  text-decoration: none;
  color: #00ADEE;
  font-weight: bold;
  text-align: center;
  
}
main > header >img {
  height: 100px;
  margin-bottom: 5px;
  
}
main> img{
  width: 100%;
}
section > div{
  width: 33%;
  display: inline-block;
}

section > div > h2 {
  color:#8cc36F;
}

#what-we-do{
border-right: 1px solid rgba(170, 239, 135, 0.8);
}

#our-work{
  border-right: 1px solid rgba(170, 239, 135, 0.8);
}

.fas.fa-pencil-alt{
  margin-right: 1rem;
}

.fas.fa-star-of-life{
  margin-right: 1rem;
}
.fas.fa-envelope{
  margin-right: 1rem;
}
